*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
    list-style-type:none;
    font-family: sans-serif;
}
nav{
    background-color:  white;
    display: flex;
    align-items: center;
    width:100%;
    padding: 0.5rem 2rem;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: bold;
}
nav #logo{
    display: flex;
    align-items:baseline;
}
nav #logo img{
    max-width: 24vw;
}
nav #logo p{
    font-size:1.2rem;
}
.gold{
    color: rgb(231, 165, 67);
}
nav #hyperlinks{
    display: flex;
    gap:2rem;
}
nav #hyperlinks ul{
    display: flex;
    align-items: center;
    gap:1.6rem;
}
nav a{
    color: rgba(0, 0, 0, 0.9);
}
nav a:hover{
    color:rgb(231, 165, 67);
}
nav #btn{
    display: flex;
    gap:1rem;
}
nav #btn a{
    padding:0.8rem 1.2rem;
    border-radius:30px;
}
#signIn{
    border:1px solid rgb(231, 165, 67);
}
#create{
    background-color: rgb(231, 165, 67);
    color:rgb(255, 255, 255);
}
#signIn:hover{
    background-color:rgb(231, 165, 67);
    color: rgb(0, 0, 0);
}
#create:hover{
    color: rgb(0, 0, 0);
}
#heroPage{
    background-color: rgb(217,217,217);
    width: 100%;
    padding:5rem 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#heroPage .header{
    display:flex;
    gap:0.4rem;
}
#heroPage .header i{
    font-size: 1.6rem;
}

#heroPage .header p{
    font-size: 1.4rem;
}
#heroPage #heroText h1{
    font-size:4rem;
    padding:0 0 1rem 0;
}
#heroPage #heroText p{
    font-size:1.4rem;
    font-weight:550;
    padding:0 0 1rem 0;
}
#heroPage #heroPic{
    display: flex;
    justify-content: center;
}
#heroPage #heroPic img{
    max-width:28vw;
}
#getStarted{
    padding:0.6rem 0.8rem;
    background-color: rgb(231, 165, 67);
    border-radius:30px;
    color:rgb(245, 245, 245);
    font-size:1.3rem;
    font-weight:550;
    text-transform: uppercase;
}
#getStarted:hover{
    color:rgb(0, 0, 0);
    background-color: rgb(245, 245, 245
    );
    border: 2px solid rgb(231, 165, 67);
}
#menu{
    font-size:2.3rem;
    display:none;
}
@media(max-width:997px){
#heroText h1{
        font-size:3rem;
    }
    #heroPage #heroText p{
        font-size:1.1rem;
    }
    #getStarted{
        font-size:0.8rem;
    }
}
@media (max-width:757px){
    nav #btn{
        display: none;
    }
    #heroPage #heroText h1{
        font-size:2rem;
    }
    #heroPage{
        grid-template-columns:1fr;
        row-gap:1.5rem;
    }
    #heroPage #heroPic img{
        max-width:40vw;
    }
    #heroPage #heroText p{
        font-size:1rem;
    }
}